# dependencies
node_modules

# next.js
.next
out

# environment
.env
.env.local

# misc
coverage
dist
*.log
.DS_Store
Thumbs.db

# storage uploads (keep directory structure)
storage/uploads/*
!storage/uploads/.gitkeep

# docker
postgres_data
